<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884537761895-ptvlc4rk39uv5uq54agpfs6vtc4tldko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884537761895-ptvlc4rk39uv5uq54agpfs6vtc4tldko</string>
	<key>API_KEY</key>
	<string>AIzaSyDVCxD5tGcx18Cc7hBELX8MmCt_wR-15NE</string>
	<key>GCM_SENDER_ID</key>
	<string>884537761895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.myshopping</string>
	<key>PROJECT_ID</key>
	<string>myshopping-bd161</string>
	<key>STORAGE_BUCKET</key>
	<string>myshopping-bd161.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884537761895:ios:c15f6edca74421e362f4c2</string>
</dict>
</plist>